<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${film.titre}">Title</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<h1 th:text="${film.titre}">Titre du film</h1>
<h2>Note : <span th:text="${film.notation}"></span></h2>
<img width="15%" height="15%" th:src="'/affiches/'+${film.getAffiche()}">
<h3 th:text="'Résumé : '+${film.resume}">Resumé</h3>
<h3 th:text="'Realisateur : '+${film.realisateur.getPrenom()}+' '+${film.realisateur.getNom()}">Realisateur</h3>
<h3 th:text="'Acteurs :'"></h3>
<ul>
    <li th:each="role : ${film.getRoles()}">
        <a th:href="@{/acteur/{Id} (Id=${role.getActeur().getId()})}"><img width="15%" height="15%" th:src="'/personnes/'+${role.getActeur().getAffiche()}"></a>
        <a th:text="${role.getActeur().getPrenom()}+' '+${role.getActeur().getNom()}+' dans le rôle de : '+${role.getAlias()}" th:href="@{/acteur/{Id} (Id=${role.getActeur().getId()})}"></a>
    </li>
</ul>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>

