<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des acteurs</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<h1 th:text="'Liste des acteurs :'"></h1>
<ul>
    <li th:each="personne : ${personnes}">
        <a th:text="${personne.nom}+' '+${personne.prenom}" th:href="@{person/acteur/{id}(id=${personne.id})}"></a>
    </li>
</ul>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>

